

<div id="friends">
  
    <div id="fb-root"></div>
  </div>
  
<%= link_to 'My Contacts',  contacts_path, :class => "btn btn-success pull-right"   %>
    
<div class="mgn">
<div class="fbg">
<br />
<h3>  Contact Form </h3>
<hr>
<%= render 'form' %>
<br />
</div>
<div class="com-box"> 
<div id="fb-root"></div>
  <div class="fb-comments"></div>
</div>
</div>


